- content_for :locale do
  | en
- content_for :title do
  | Drilling and well workover services
img src='/images/pages/og-well-drilling.jpg' srcset='/images/pages/og-well-drilling2x.jpg 2x'
h1 Drilling and well workover
p Over 60 years of activity, of the enterprise was drilled more than 3000 oil and gas wells, both in Ukraine and abroad.
p At these days, a full range of drilling and overhaul works of wells to a depth of 7000 m are carried out. A flexible system of cooperation ensures the fulfillment of any tasks with the possibility of attracting the most advanced achievements in the oil and gas industry. Works are executed using modern technologies and materials. We guarantee a professional approach to performing works of any complexity.
p The company offers various types of cooperation: a full range of works "turn-key", implementation of certain stages of the project, the provision of equipment services, engineering support.