- content_for :locale do
  | en
- content_for :title do
  | Joint investment projects
img src='/images/pages/og-partners.jpg'
h1 Joint investment projects
p The enterprise conducts work on attracting investment funds for geological exploration and pilot commercial development of deposits. As of today, there are 6 agreements on joint investment activities for oil and gas, which are carried out on licensed sections of the State Enterprise "Zahidukrgeologiya".
p At the moment, the company owns special permits for oil and gas and is actively seeking partners for the implementation of joint investment projects.
p One of the most promising business projects is Ortinechy Square.
p The area is located within the Sambir district of Lviv region.
p Well drilling No. 3 with a design depth of 4500 m was carried out in this area. In the process of drilling, there were intense gas manifestations, and reservoir pressure exceeded 1.6 times to hydrostatic.
p According to the analysis of information on adjacent deposits (fields), the gas discharge from wells of the Ortinechy Square may amount to 50-100 thousand m3/day, and the estimated prospective gas resources amount to 3.6 billion m3.
p It is planned to drill 3 wells with design depths - 4500 m.