- content_for :locale do
  | ru
img src='/images/pages/sm-well-drilling.png'
h1 Бурение скважин
p Предприятие имеет более 60-летний опыт выполнения буровых работ. За время деятельности силами подразделений Предприятия успешно выполнялась буровая разведка месторождений каменного и бурого угля, золота, полиметаллов, германия, самородной серы, калийных и каменных солей, баритов, каолинов, цеолитов, бентонитов, разнообразного строительного сырья.
p Буровые работы выполняются высококвалифицированным персоналом с соответствующим образованием, многолетним опытом, который проводит систематическое повышение квалификации.
p Бурение скважин сопровождается аналитическими, каротажными, геологическими и гидрогеологические исследования, выполняется подсчет запасов и утверждение (или апробация) запасов в ГКЗ.
