- content_for :locale do
  | ru
img src='/images/pages/oa-premises.jpg' srcset='/images/pages/oa-premises2x.jpg 2x'
h1 Структура предприятия
h2 ГП "Захидукргеология", аппарат управления
p Адрес: г. Львов, ул. Мицкевича, 8
p Организационная и руководящая деятельность предприятия.

h2 Львовская геологоразведочная экспедиция
p Выполняет весь комплекс геологоразведочных работ на твердые полезные ископаемые и подземные воды, геологическое и гидрогеологическое картирование, мониторинг экзогенных процессов и подземных вод, бурение скважин и лабораторные исследования.
p В составе Львовской геологоразведочной экспедиции:
ul
  li Геологосъемочная партия
  li Комплексная гидрогеологическая партия
  li Отряд геоинформационных технологий
  li Великомостивской участок
  li Моршинской участок
  li Черновицкий участок

p Закарапатський геолого-гидрогеологический центр
ul
  li Раховская геолого-поисковая партия
  li Закарпатская гидрогеологическая партия
p База производственного обслуживания
p Химическая лаборатория
p Геологические фонды
h2 Калушская нефтеразведочная экспедиция
p Адрес: г. Калуш, Ивано-Франковской обл., Ул. Пекарская, 5
p Выполняет поисковые и разведочные работы на нефть и газ в юго-восточной и центральной части Предкарпатского прогиба в Ивано-Франковской и Черновицкой областях.
h2 Стрыйская нефтеразведочная экспедиция
p Адрес: Стрый, Львовской обл., п / я 7
p Выполняет поисковые и разведочные работы на нефть и газ в центральной и северо-западной части Предкарпатского прогиба, Закарпатья и Волыно- Подолья.
p Самборский участок: адрес: г. Самбор, Львовской обл., ул. Карпенко-Карого, 9