- content_for :locale do
  | ua
- content_for :title do
  | Буріння та капітальний ремонт свердловин
img src='/images/pages/og-well-drilling.jpg' srcset='/images/pages/og-well-drilling2x.jpg 2x'
h1 Буріння та капітальний ремонт свердловин
p За 60 років діяльності Підприємством пробурено понад 3000 нафтових і газових свердловин як на території Україні так і за її межами.
p На сьогоднішній день виконується повний комплекс робіт по бурінню та капітальному ремонті свердловин глибиною до 7000 м. Гнучка система співпраці забезпечує виконання будь яких завдань з можливістю залучення найсучасніших досягнень у нафтогазовій галузі. Роботи виконуються із використанням сучасних технологій та матеріалів. Гарантуємо професійний підхід до виконання робіт будь-якої складності. 
p Підприємство пропонує різні види співпраці: повний комплекс робіт «під ключ», виконання певних етапів проекту, надання послуг обладнанням, інженерний супровід.
