- content_for :locale do
  | ua
- content_for :title do
  | Спільні інвестиційні проекти
img src='/images/pages/og-partners.jpg'
h1 Спільні інвестиційні проекти
p Підприємством проводиться робота по залученню для геологічного вивчення і дослідно-промислової розробки родовищ інвестиційних коштів. Станом на сьогодні діють 6 договорів про спільну інвестиційну діяльність на нафту і газ, за якими проводяться роботи на ліцензійних ділянках ДП «Західукргеологія», реалізація видобутих вуглеводнів та отримання прибутку усіма Учасниками.  
p На даний момент Підприємство володіє спецдозволами на нафту і газ та активно шукає партнерів для реалізації спільних інвестиційних проектів.
p Одним із найперспективніших бізнес-проектів є розробка Ортиницької площі. 
p Площа розташована в межах Самбірського району Львівської області.
p На даній площі розпочато буріння пошукової свердловина №3 проектною глибиною 4500 м. У процесі буріння спостерігались інтенсивні газопрояви, а пластовий тиск перевищував в 1,6 разів гідростатичний.
p За аналізом інформації по сусіднім родовищах, дебіти газу на Ортиницькій площі можуть складати 50-100 тис.м3/добу, а підраховані перспективні ресурси газу складають 3,6 млрд.м3.
p Планується буріння 3-х свердловин проектними глибинами – 4500 м.