@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Roboto');
/* css reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1.5;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*-------GO---------*/
body {
  font-family: 'Roboto', sans-serif;
  a {
    text-decoration: none;
    color: inherit;
    transition-property: color;
    transition-duration: .5s;
  }
  a:hover {
    color: #bbb;
  }
  td {
    padding: 5px;
  }
 .grey {
    background-color: #ccc;
  }
  .centered {
    text-align: center;
  }
  .header {
    font-weight: 700;
    font-size: 20pt;
    font-family: 'Montserrat', sans-serif;
  }
  /*---- Layout -----*/
  .row {
    .content {
      margin: 0 auto;
      max-width: 1200px;
      padding: 20px;
    }

    header.content {
      padding-bottom: 0px;
    }
  }

  .row {
    .content-wide {
      padding: 10px;
    }

    header.content {
      padding-bottom: 0px;
    }
  }

  /*---Header---*/
  header.row {
    .content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-family: 'Montserrat', sans-serif;
      font-size: 115%;
      padding: 5px 20px;
      .name {
        font-size: 115%;
        display: inline-block;
        .sub {
          padding-left: 10px;
          font-size: 60%;
        }
        .main {
          font-weight: 700;
        }
      }
      img.logo {
        height: 45px;
        margin: -5px 0;
      }
    }
    nav {
      > ul {
        > li {
          padding: 0 5px;
          display: inline-block;
          position: relative;
          > ul {
            display: none;
            position: absolute;
            background-color: white;
            opacity: 0.9;
            width: 250px;
            border-radius: 3px;
            > li {
              padding: 6px 10px;
              > ul {
                display: none;
                position: absolute;
                background-color: white;
                opacity: 0.9;
                width: 250px;
                border-radius: 0 3px 3px;
                left: 250px;
                top: 20px;
                > li {
                  padding: 6px 10px;
                }
              }
            }
          }
        }
        > li > ul.sub:hover {
          border-radius: 0 3px;
        }
        > li:hover > ul {
          display: block;
          > li:hover > ul {
            display: block;
          }
        }
      }
    }
  }
  footer {
    font-family: 'Montserrat', sans-serif;
  }
  /*----Page design-----*/
  section.page .content {
    ul {
      list-style: disc inside;
      ul {
        padding-left: 12pt;
        list-style: circle inside;
      }
    }
    display: flex;
    align-items: flex-start;
    .cards {
      display: flex;
      flex-flow: column nowrap;
      font-family: 'Montserrat', sans-serif;
      flex: 1;
      order: 1;
      .card {
        // width: 280px;
        flex: 1;
      }
    }
    article {
      flex: 3;
      order: 2;
      padding: 10px 0 0 20px;
      a {
        color: #4169E1;
      }
      h1, h2 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        padding-bottom: 10px;
      }
      h1 {
        font-size: 150%;
      }
      h2 {
        font-size: 120%;
      }
      p {
        padding-bottom: 10px;
        text-align: justify;
      }
      img {
        max-width: 100%;
        height: auto;
      }
      figure {
        margin: 20px 0;
        figcaption {
          text-align: center;
        }
      }
    }
  }
  /*----Landing design-----*/
  section.landing {
    font-family: 'Montserrat', sans-serif;

    .top {
      height: 270px;
      background-image: url('/images/landing.jpg');
      background-size:cover;
      padding-top: 0px;
      padding-bottom: 120px;
      text-shadow: 0 0 5px #000,
                   0 3px 15px #333,
                   0 3px 20px #666;
      font-size: 24px;
      font-weight: 700;
      color: #fff;
    }
  }

  .cols {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    > * {
      flex: 1;  
    }
  }

  .cards {
    .card {
      height: 230px;
      text-align: center;
      color: #FFF;
      position: relative;
      background-size:cover;
      border-radius: 3px;
      z-index:2;
      min-width: 280px;
      margin: 10px;
      .card-head {
        text-transform: uppercase;
      }
      .card-content {
        font-weight: 300;
        left: 0;
        right: 0;
        top: 80px;
        position: relative;
        z-index: 4;
        font-size: 80%;
        animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        transition-duration: .5s;
        .card-elem {
          opacity: 0;
          animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
          transition-duration: .5s;
        }
        p.card-elem {
          padding: 0 5px 3px 5px;
        }
      }
    }
    .card:before {
      position: absolute;
      content: "";
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: none;
      transition: all .2s linear;
      z-index:3;
      border-radius: 3px;
    }
    .card:hover:before {
      background: rgba(0,0,0, 0.5);
    }
    .card:hover {
      .card-content {
        animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        transform: translateY(-70px);
        transition-duration: .5s;
        .card-elem {
          opacity: 1;
          animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
          transition-duration: .5s;
        }
      }
    }
  }
}

@media all and (max-width: 480px) {
  body {
    .cols {
      flex-flow: column;
    }
  }
}

@media all and (max-width: 900px) {
  body {

    section.page .content {
      flex-flow: column;
      .cards {
        order: 2;
        flex-flow: row wrap;
      }
      article {
        order: 1;
      }
    }
  }
}
