- content_for :locale do
  | ua
img src='/images/pages/oa-premises.jpg' srcset='/images/pages/oa-premises2x.jpg 2x'
h1 Закордонний досвід
p Фахівці нашого підприємства мають досвід організації та проведення геологорозвідувальних робіт у різних частинах світу (Європа, Африка, Південна Америка). Кваліфікована група виконавців може вилетіти на місце призначення та виконати якісний супровід польових та камеральних робіт по пошуках та розвідці родовищ корисних копалин: золота, благородних металів та інших рудних елементів, підземних вод, будівельних матеріалів, вуглеводнів.
