- content_for :locale do
  | ua
img src='/images/pages/oa-premises.jpg' srcset='/images/pages/oa-premises2x.jpg 2x'
h1 Структура підприємства
h2 ДП "ЗАХІДУКРГЕОЛОГІЯ", апарат управління
p Адреса: м.Львів, пл. Міцкевича, 8 
p Організаційна та керівна діяльність підприємства.
h2 Львівська геологорозвідувальна експедиція
p Виконує весь комплекс геологорозвідувальних робіт на тверді корисні копалини та підземні води, геологічне та гідрогеологічне картування, моніторинг екзогенних процесів та підземних вод, буріння свердловин та лабораторні дослідження.
p В складі Львівської геологорозвідувальної експедиції:
ul
  li Геологозйомочна партія
  li Комплексна гідрогеологічна партія
  li Загін геоінформаційних технологій
  li Великомостівська дільниця
  li Моршинська дільниця
  li Чернівецька дільниця
p Закарапатський геолого-гідрогеологічний центр
ul
  li Рахівська геолого-пошукова партія
  li Закарпаська гідрогеологічна партія
p База виробничого обслуговування
p Хімічна лабораторія
p Геологічні фонди
h2 Калуська нафторозвідувальна експедиція
p Адреса: м.Калуш, Івано-Франківської обл., вул. Пекарська, 5 
p Виконує пошукові і розвідувальні роботи на нафту і газ в південно-схіній та центральній частині Передкарпатського прогину в Івано-Франківській і Чернівецькій областях.
h2 Стрийська нафторозвідувальна експедиція
p Адреса: м.Стрий, Львівської обл., п/с 7 
p Виконує пошукові і розвідувальні роботи на нафту і газ в центральній та північно-західній частині Передкарпатського прогину, Закарпатті та Волино-Поділлі.
p Самбірська дільниця: Адреса: м.Самбір, Львівської обл., вул. Карпенко-Карого, 9 
