- content_for :locale do
  | ru
img src='/images/pages/oa-equipment.jpg'
h1 Аренда оборудования
p Высококвалифицированные специалисты Компании ведется постоянный мониторинг и анализ рынка геологоразведочной отрасли. Учитывая потребности рынка и собственные ресурсные мощности, Предприятие успешно предоставляет услуги по аренде широкого спектра оборудования (буровые установки, буровые трубы, противовыбросовое оборудование и др.).
p При аренде существует возможность привлечения наших специалистов для монтажа, настройки и техническому обслуживанию оборудования.