- content_for :locale do
  | ru
img src='/images/pages/oa-funds.jpg'
h1 Фонд геологической информации
p По результатам 60-летней геологоразведочной деятельности в западном регионе Украины силами подразделений ДП "Захидукргеология" создан мощный фонд первичной и вторичной геологической информации месторождений и перспективных участков на все виды полезных ископаемых и геолого-экологического состояния территорий Львовской, Ивано-Франковской, Тернопольской, Волынской , Черновицкой, Закарпатской областей. На запросы центральных и местных органов власти, частных организаций и лиц, Предприятием может предоставляться соответствующая информация.