- content_for :locale do
  | en
img src='/images/pages/oa-equipment.jpg'
h1 Equipment Rental
p Highly qualified specialists of the Company are constantly monitoring and analyzing the market of the geological exploration industry. Taking into account the needs of the market and its own resource capacities, the company successfully gives services for renting a wide range of equipment (drilling rigs, drill pipes, blow out preventer, etc.).
p When renting, it is possible to involve our specialists to the installation, adjustment works and maintenance of equipment.
