- content_for :locale do
  | en
img src='/images/pages/oa-funds.jpg'
h1 Geological information foundation
p According to the results of 60 years of geological exploration activity in the western region of Ukraine, the forces of units of the State Enterprise "Zahidukrgeologiya" have created a powerful fund of primary and secondary geological information on deposits and prospective areas for all types of minerals and geological and ecological condition of the territories of Lviv, Ivano-Frankivsk, Ternopil, Volyn, Chernivtsi, Transcarpathian regions. At the request of central and local authorities, private organizations and individuals, the Enterprise may provide relevant information.
