- content_for :locale do
  | ua
h1 Буріння свердловин
p Підприємство має понад 60-річний досвід виконання бурових робіт. За час діяльності силами підрозділів Підприємства успішно виконувалась бурова розвідка родовищ підземних прісних, мінеральних та термальних вод. 
p Бурові роботи виконуються висококваліфікованим персоналом з відповідною освітою, багаторічним досвідом, систематичним підвищенням кваліфікації.
p Буріння свердловин супроводжується аналітичними, каротажними, геологічними та гідрогеологогічними дослідження, виконується підрахунок запасів та затвердження (або апробація) запасів в ДКЗ.
p Підприємство виконує:
p Буріння гідрогеологічних свердловин;
p Складання та реєстрація паспортів свердловин;
p Складання проектно-кошторисної документації на буріння, ліквідацію, консервацію свердловин; 
p Ремонт, чистка свердловин; 
p Дослідно-фільтраційні роботи; 
p Визначення гідрогеологічних параметрів; 
p Відбір проб на повний хімічний аналіз.
