- content_for :locale do
  | ua
img src='/images/pages/oa-equipment.jpg'
h1 Оренда обладнання
p Висококваліфікованими спеціалістами Підприємства ведеться постійний моніторинг і аналіз ринку геологорозвідувальної галузі. Враховуючи потреби ринку і власні ресурсні потужності Підприємство успішно надає послуги з оренди широкого спектру обладнання (бурові установки, бурові труби, противикидне обладнання (ПВО), та ін.). 
p При оренді існує можливість залучення наших  спеціалістів для монтажу, налаштування і технічному обслуговування обладнання.