- content_for :locale do
  | ua
h1 Фонд геологічної інформації
p За результатами 60-річної геологорозвідувальної діяльності у західному регіоні України силами підрозділів ДП „Західукргеологія” створено потужний фонд первинної та вторинної геологічної інформації стосовно родовищ та перспективних ділянок на всі види корисних копалин та геолого-екологічного стану територій Львівської, Івано-Франківської, Тернопільської, Волинської, Чернівецької, Закарпатської областей. На запити центральних та місцевих органів влади, приватних організацій та осіб Підприємством може надаватися відповідна інформація.
