- content_for :locale do
  | ru
img src='/images/pages/og-well-drilling.jpg' srcset='/images/pages/og-well-drilling2x.jpg 2x'
h1 Бурение и капитальный ремонт скважин
p За 60 лет деятельности Предприятием пробурено более 3000 скважин, как на территории Украины, так и за ее пределами.
p На сегодняшний день выполняется полный комплекс работ по бурению и капитальному ремонту скважин глубиной до 7000 м. Гибкая система сотрудничества обеспечивает выполнение любых задач с возможностью привлечения самых современных достижений в нефтегазовой отрасли. Работы выполняются с использованием современных технологий и материалов. Гарантируем профессиональный подход к выполнению работ любой сложности.
p Предприятие предлагает различные виды сотрудничества: полный комплекс работ «под ключ», выполнение определенных этапов проекта, оказание услуг оборудованием, инженерное сопровождение.