- content_for :locale do
  | ru
img src='/images/pages/og-partners.jpg'
h1 Совместные инвестиционные проекты
p Предприятием проводится работа по привлечению для геологического изучения и опытно-промышленной разработки месторождений инвестиционных средств. На сегодня действуют 6 договоров о совместной инвестиционной деятельности на нефть и газ, по которым проводятся работы на лицензионных участках ООО «Захидукргеология», реализация добытых углеводородов и получения прибыли всеми участниками.
p На данный момент Предприятие обладает спецразрешения на нефть и газ и активно ищет партнеров для реализации совместных инвестиционных проектов.
p Одним из самых перспективных бизнес-проектов является разработка Ортыницкой площади.
p Площадь расположена в пределах Самборского района Львовской области.
p На данной площади начато бурение поисковой скважина №3 проектной глубиной 4500 м. В процессе бурения наблюдались интенсивные газопроявления, а пластовое давление превышал в 1,6 раз гидростатическое.
p По анализу информации по соседним месторождениям, дебиты газа на Ортыницкой площади могут составлять 50-100 тыс.м3/сутки, а подсчитаные перспективные ресурсы газа составляют 3,6 млрд.м3.
p Планируется бурение 3-х скважин проектными глубинами - 4500 м