- content_for :locale do
  | en
- content_for :title do
  | Well drilling Services
img src='/images/pages/sm-well-drilling.png'
h1 Well drilling
p The company has more than 60 years’ experience in drilling operations. During the activity of the units of the Enterprise, the exploration of deposits of stone and brown coal, gold, polymetals, germanium, native sulfur, potassium and rock salt, barite, kaolin, zeolites, bentonites, and various building materials was successfully performed.
p The drilling works are carried out by highly qualified personnel with appropriate education, years of experience, and systematic qualification improvement.
p Well drilling is accompanied by analytical, downhole geophysical survey, geological and hydro-geological studies, inventory and approval of stock in the “State Committee of Ukraine for Mineral Reserves”.